
.quoteCard {
    font-size: 1.4rem;
    font-weight: 550;
} 

.personName {
    font-size: 1.2rem;
    position: absolute;
    bottom: -10px;
    right: 10px;
    font-weight: 350;
    font-style: italic;
}

#shareLink {
    color: #007bff;
}

a:hover#shareLink {
    text-decoration: underline;
    cursor: pointer;
}
